body{
    font-size: 35px;
    font-family: 'Actor', sans-serif;
    min-height: 696px;
    min-width: 928px;
}
div{
    position: absolute;
}
h1 {
    left: 564px;
    top:59px;
    font-size: 40px;
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    -webkit-margin-before: 5px;
    -webkit-margin-after: 3px;
}
.byline{
    left: 690px;
    top:92px;
    font-size: 14px;
    position: absolute;
    font-family: 'Press Start 2P', cursive;
    border-bottom: 3px double #eee;
}
.bread{
    font-family: 'Abel', sans-serif;
    font-size: 24px;
}
#content{
    overflow: hidden;
    width:928px;
    height:696px;
    position: relative;
    margin: auto;
    /*background-color: #987;*/
}




.mixerSection{
    width: 157px;
    height: 258px;
    left: 320px;
    top:135px;
}
.oscillatorSection{
    width: 309px;
    height: 393px;
}
.filterSection{
    width: 320px;
    height: 258px;
    left: 489px;
    top:135px;
}
.ampSection{
    width: 107px;
    height: 258px;
    left:821px;
    top:135px;
}
.modSection{
    width: 787px;
    height: 292px;
    top: 404px;
    left: 140px;
}

.sliderTitle, .sectionTitle, .propertyTitle{
    font-size: 16px;
    text-align: center;
    -webkit-margin-before: 5px;
    -webkit-margin-after: 3px;
}
.propertyTitle{
    font-size: 12px;
    padding-top: 3px;
}

.mixerChannel{
    width: 50px;
    height: 226px;
    position:relative;
    float:left;
}
.oscillator{
    width: 100px;
    height: 360px;
    position:relative;
    float:left;
}

.oscillator select{
    margin: 0 0 0 7.5px;
}
.oscSlider{
    width: 70px;
    margin: 0 0 0 15px;
}

.filterProperty{
    position:relative;
    float:left;
    height: 73px;
    width: 316px;
    margin-top: 2px
}
.filterSlider{
    width: 300px !important;
    height: 7px !important;
    margin: 0 0 0 10px;
}
.filterSection select{
    margin: 0 0 0 119px;
}


.ampProperty{
    position:relative;
    float:left;
    width: 50px;
    height: 226px;
}


.modUnit{
    width: 260px;
    height: 259px;
    position:relative;
    float:left;
}
.modPropertyslider{
    width: 50px;
    height: 227px;
    position:relative;
    float:left;
}
.modPropertyselector{
    width: 66px;
    height: 64px;
    position:relative;
    float:left;
}

.modPropertyswitch{
    width: 74px;
    height: 64px;
    position:relative;
    float:left;
}
.modPropertyswitch input{
    margin-right: 15px;
}
.modPropertynumeric{
    width: 45px;
    height: 64px;
    margin-right: 15px;
    position:relative;
    float:left;
}
input[type="number"]{
    width:40px;
}


/*colors*/

body{
    background-color: #333;
    color: #ddd;
}

.modSection, .oscillatorSection, .mixerSection, .filterSection, .ampSection{
    background-color: #444;
}

.oscillator, .modUnit, .mixerChannel, .ampProperty, .filterProperty{
    background-color: #555;
    margin-left: 2px;
}

/*sliders*/
.ampSlider, .modSlider, .mixerSlider{
    width: 20px;
    height: 190px;
    margin: 0 0 0 15px;
    appearance: slider-vertical;
    -webkit-appearance: slider-vertical;
}